* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
}

.navigation,
.heading,
.table-heading,
.instructions-heading {
  background-color: #1e90ff;
}

.navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  width: 100%;
  padding: 1.2rem;
}

.navigation-links {
  background-color: #004d99;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px 8px;
  border-radius: 2px;
}

.navigation-links:hover {
  background-color: #002b56;
}

.container {
  width: min(100% - 30px, 600px);
  margin-inline: auto;
  border: 1px solid #002b56;
}

#index-page {
  margin-top: 1rem;
}

.heading {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  padding: 0.2rem 0.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

img {
  width: 100%;
}

figcaption {
  text-align: right;
  font-size: 12px;
}

figcaption a {
  color: #1e90ff;
  text-decoration: none;
}

figcaption a:hover {
  text-decoration: underline;
}

main {
  margin: 0.4rem;
}

main article {
  margin: 1rem 0;
}

.description {
  font-size: 1rem;
  line-height: 1.2rem;
}

table {
  width: min(100% - 30px, 450px);
  margin-inline: auto;
  border-collapse: collapse;
  margin-top: 1rem;
}

.table-heading {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 5px;
}

th,
td {
  border: 1px solid #808080;
  padding: 6px;
}

.table-body tr:nth-child(odd) {
  background-color: #99ccff;
}

.instructions-heading {
  color: #ffffff;
  text-align: center;
  font-size: 1.4rem;
  padding: 0.8rem 0.5rem;
  text-transform: uppercase;
}

.instructions-list {
  margin-top: 1rem;
  padding-left: 2rem;
}

.instructions-list li {
  margin-bottom: 0.5rem;
}

.top-link {
  display: inline-block;
  background-color: #002b56;
  color: #ffffff;
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}

.top-link:hover {
  background-color: #004d99;
}
