* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

body {
  min-height: 100svh;
}

.navigation, .home-heading {
  background-color: #1e90ff;
}

.navigation > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  width: 100%;
  padding: 1.2rem;
}

.navigation-list li a {
  background-color: #004d99;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 5px 8px;
  border-radius: 2px;
}

.navigation-list li a:hover {
  background-color: #002b56;
}

.container {
  width: min(100% - 30px, 600px);
  margin-inline: auto;
}

main {
  margin-top: 1rem;
}

.home-heading {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

.homepage-image {
  width: 600px;
}

figcaption {
  text-align: right;
  font-size: 12px;
}

figcaption a {
  color: #1e90ff;
  text-decoration: none;
}

figcaption a:hover {
  text-decoration: underline;
}